.wrapperHeadder {
    background-color: #9BCBDE;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    
    & ul {
        display: flex;
        list-style: none;
        & a {
            text-decoration: none;
            color: black;
        }

        .wrapperDropDown:hover div.dropDown{
            display: block;
            top: 7px;
        }

    }

    & .wrapperCart {
        &:hover .cartContent {
            display: block;
        }
    }
}

.wrapperDropDown {
    display: inline-flex;

    & div.dropDown {
        background-color: blue;
        position: relative;
        display: none;

        & ul.dropDownList {
            background-color: green;
            top: 10px;
            right: 10px;
            position: absolute;
            display: block;

            & li {
                display: block;
            }
        }
    }
}

.wrapperRigthHeader {
    display: flex;
}

.wrapperIconLogin {
    cursor: pointer;

    &:hover .wrapperDropDrownLogin {
        display: block;
    }
}